body
{
    background-image: url(".img/hip-square.png");
    background-size: repeat;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    position: relative;
}

#main
{
    padding: 10px 10px 120px 10px;
    min-height: 100vh;
}

#nazwa
{
    float: left;
    font-size: 50px;
}

.kafelek
{
    float: right;
    font-size: 50px;
    margin-right: 20px;
}

.txtcenter
{
    text-align: center;
}

#buzia
{
    max-width:190px;
    height:auto;
    display:block;
    margin: 0 auto;
}

.txtcenter2
{
    text-align : center;
    font-size: large;
}

footer
{
    position:absolute;
    bottom:0;
    text-align: center;
    margin: 0px;
    background: url(".img/stopka.png") repeat left top;
    height: 70px;
    width:100%;
    padding: 30px 0px 0px 0px;
}